* {
    font-family: 'Roboto Slab', sans-serif, monospace;
}

.my-wrapper {
    --global-margin-wrapper: 0px;
    --global-margin-top: 70px;
    /* background-color: rgb(255, 205, 140); */
    background-color: whitesmoke;
    margin: var(--global-margin-wrapper);
    margin-top: var(--global-margin-top);
    width: calc(100% - 2*var(--global-margin-wrapper));
    position: absolute;
}

h1 {
    padding: 5% !important;
}